
@{
    ViewBag.Title = "SelectOrderByID";
}

<h2>SelectOrderByID</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        Order ID : <input type="number" name="oid" required />
        <input type="submit" value="Select" />
    </div>

    if (ViewBag.data != null)
    {
<table border="1">
    <tr>
        <th>Order ID</th>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Payment status (0 = not done | 1 = done)</th>
        <th>Stats (0 = fail | 1 = success)</th>
    </tr>
    <tr>
        <td>@ViewBag.data.OrderID</td>
        <td>@ViewBag.data.opid</td>
        <td>@ViewBag.data.qty</td>
        <td>@ViewBag.data.payment</td>
        <td>@ViewBag.data.status1</td>

    </tr>
</table>
    }
}
@Html.ActionLink("<<BACK TO HOME", "Index")
